/*
Index page style sheet file
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color: #e8e8e8;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	padding: 40px;
	margin: 0;
}

body > header {
	max-width: 650px;
	margin: 0 auto;
	padding-left: 35px;
}

body > header > h1 {
	font-size: 24px;
	line-height: normal;
	margin: 30px 0 15px;
}

body > section {
	max-width: 650px;
	margin: 0 auto;
	background-color: white;
	padding: 25px;
}

body > section#main {
	border: 2px solid #e8e8e8;
	border-radius: 12px;
}


.block-section {
	display: inline-block;
	width: 49%;
	height: 100%;
	vertical-align: top;
	min-width: 293px;
}

.block-section#intro {
	padding: 10px;
}

.block-section p {
	font-size: 14px;
	line-height: normal;
}

.block-section > .links {
	margin-top: 30px;
}

.block-section a {
	font-size: 14px;
	line-height: normal;
	color: #BE5D49;
	text-decoration: none;
}

footer {
	text-align: center;
	margin-top: 20px;
}

@media only screen and (max-width: 742px) {
	.block-section {
		min-width: unset;
		width: 100%;
	}
	.block-section#image {
		text-align: right;
	}
	.block-section#image > img {
		width: 100%;
		max-width: 292px;
	}
}

@media only screen and (max-width: 450px) {
	body {
		padding: 15px;
	}
	body > header {
		padding-left: 25px;
	}
	body > header > h1 {
		font-size: 24px;
		line-height: normal;
		margin: 15px 0;
	}
	body > section {
		max-width: 650px;
		margin: 0 auto;
		background-color: white;
		padding: 15px;
	}
}